body {
    min-width: 300px;
}
#settingsTitle{
    padding: 0 5px;
}
.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: lightgrey;
    transition: background-color 50ms ease-in-out;
    border-radius: 4px;
}

input[type="text"]{
    min-width: 40%;
    margin-right: 4px;
}

hr { width: 100%; opacity: 0.2; }

.disabled-option {
    opacity: 0.5;
    transition: opacity 150ms ease-in-out;
    pointer-events: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(40,41,44);
        color: white;
    }

    .option:hover {
        background-color: rgb(256, 256, 256, 0.1);
    }
}