.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: lightgrey;
    transition: background-color 50ms ease-in-out;
    border-radius: 4px;
}

input[type="text"]{
    min-width: 40%;
    margin-right: 4px;
}

hr { width: 100%; opacity: 0.2; }

.subheader {
    color: gray;
    margin: 5px 8px;
    text-align: center;
    width: 100%;
}